.post-detail-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-detail-container h1 {
    font-size: 2em;
    color: #333;
}

.post-detail-container p {
    font-size: 1.2em;
    color: #666;
}

.post-detail-container img {
    max-width: 100%;
    height: auto;
}

.nopost {
    font-size: 20px ;
}