.ReadPosts {
    display: flex;
    flex-wrap: nowrap; /* Change this line */
    overflow-x: auto; /* Add this line */
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    min-height: calc(100vh - 100px);
    
}



.ReadPosts-Header {
    overflow-x: auto; /* Add this line */
    color: #1d3557;
    top: 0;
    background-color: transparent;
    z-index: 1;
    padding: 1px 20px 300px 150px;
    text-align: center;
    width: 100%;
    top: 100px;
}

.header h1 {
    overflow-x: auto; /* Add this line */
    margin: 0;
    display: inline-block;
    width: 120%;
}
.header-buttons {
    display: flex;
    justify-content: flex-end; /* Move buttons to the right */
    padding: 10px 20px; /* Add padding to the container */
}


.headerBtn {
    padding: 5px 20px; /* Adjust the padding to make the buttons smaller */
    font-size: 16px;
    background-color: #8d8d8d; /* Light blue */
    color: #000000;
    margin-left: auto; /* Move the buttons to the right */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.headerBtn:hover {
    background-color: #3d5a80; /* Dark blue on hover */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
}



.Card {
    background-color: #b4aea5; /* Light cyan */
    border: 5px solid #202121; /* Light blue */
    border-radius: 10px;
    padding: 2px;
    width: 70%; /* Adjust the width to make the card smaller */
    max-height: 200px; /* Set a maximum height for the card */
    margin-bottom: 20px; /* Add bottom margin */
    margin-left: 200px;
}



.Card h3 {
    margin-top: 20px;
    font-size: 15px;
    color: #000000; /* Dark blue */
    
}

.Card p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000; /* Navy blue */
    
}

.Card .author {
    font-style: italic;
    color: #457b9d; /* Steel blue */
}

.Card .description {
    color: #1d3557; /* Navy blue */
}

.new-post {
    margin-top: 20px;
    
}


h2.name {
    color: #000000; /* Navy blue */
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}



.new-post textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #a8dadc; /* Light blue */
    border-radius: 5px;
}

.new-post button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3d5a80; /* Dark blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-post button:hover {
    background-color: #457b9d; /* Steel blue on hover */
}
.noPosts {
    font-size: 2em; /* Increase the font size */
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: -23rem;
    display: flex;
    margin-left: -400px;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold; 
    margin-top: 80px; /* Add margin-top to move down */
}



.anglerhub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1em; /* Make the font larger */
    font-weight: bold; /* Make the font bold */
    color: #020202; /* Change the color to steel blue */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 2px; /* Increase the spacing between letters */
    margin: 5px 0; /* Add vertical margin and remove horizontal margin */

    text-shadow: 2px 2px 4px rgba(10, 42, 149, 0.5); /* Add a shadow to the text */

}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.anglerhub-heading {
    animation: pulse 2s infinite;
}